<div class="container">
  <h1>Stupid coaching</h1>
  <div class="ask">
    <p><%= @ask %></p>
    <p>- You</p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p>- Coach</p>
  </div>
  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
