
<div class="container">
  <h1>Stupid coaching</h1>
  <p>Ask your coach anything:</p>
  <form class="form-group input-group " action="/answer">
    <input class="form-control" type="text" name="ask">
    <input class="btn btn-primary input-group-append" type="submit" value="ask">
</form>
</div>
